<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assessment Timetable</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Assessment Timetable</h1>
    </header>
    <div class="year">
        <div class="autumn">
            <h1 class="semester label">Autumn</h1>
        </div>
        <div class="spring">
            <h1 class="semester label">Spring</h1>
        </div>
        <div class="week label"></div>
        <div class="week label" id="A1"><p>1</p><p>02-Oct-17</p></div>
        <div class="week label" id="A2"><p>2</p><p>09-Oct-17</p></div>
        <div class="week label" id="A3"><p>3</p><p>16-Oct-17</p></div>
        <div class="week label" id="A4"><p>4</p><p>23-Oct-17</p></div>
        <div class="week label" id="A5"><p>5</p><p>30-Oct-17</p></div>
        <div class="week label" id="A6"><p>6</p><p>06-Nov-17</p></div>
        <div class="week label" id="A7"><p>7</p><p>13-Nov-17</p></div>
        <div class="week label" id="A8"><p>8</p><p>20-Nov-17</p></div>
        <div class="week label" id="A9"><p>9</p><p>27-Nov-17</p></div>
        <div class="week label" id="A10"><p>10</p><p>04-Dec-17</p></div>
        <div class="week label" id="A11"><p>11</p><p>11-Dec-17</p></div>
        <div class="week label" id="AR1"><p>Recess</p><p>18-Dec-17</p></div>
        <div class="week label" id="AR2"><p>Recess</p><p>25-Dec-17</p></div>
        <div class="week label" id="AR3"><p>Recess</p><p>01-Jan-18</p></div>
        <div class="week label" id="A12"><p>12</p><p>08-Jan-18</p></div>
        <div class="week label" id="EX1A"><p>Exam 1</p><p>15-Jan-18</p></div>
        <div class="week label" id="EX2A"><p>Exam 2</p><p>22-Jan-18</p></div>
        <div class="week label"></div>
        <div class="week label" id="S1"><p>1</p><p>29-Jan-18</p></div>
        <div class="week label" id="S2"><p>2</p><p>05-Feb-18</p></div>
        <div class="week label" id="S3"><p>3</p><p>12-Feb-18</p></div>
        <div class="week label" id="S4"><p>4</p><p>19-Feb-18</p></div>
        <div class="week label" id="S5"><p>5</p><p>26-Feb-18</p></div>
        <div class="week label" id="S6"><p>6</p><p>05-Mar-18</p></div>
        <div class="week label" id="S7"><p>7</p><p>12-Mar-18</p></div>
        <div class="week label" id="S8"><p>8</p><p>19-Mar-18</p></div>
        <div class="week label" id="SR1"><p>Recess</p><p>26-Mar-18</p></div>
        <div class="week label" id="SR2"><p>Recess</p><p>02-Apr-18</p></div>
        <div class="week label" id="SR3"><p>Recess</p><p>09-Apr-18</p></div>
        <div class="week label" id="S9"><p>9</p><p>16-Apr-18</p></div>
        <div class="week label" id="S10"><p>10</p><p>23-Apr-18</p></div>
        <div class="week label" id="S11"><p>11</p><p>30-Apr-18</p></div>
        <div class="week label" id="S12"><p>12</p><p>07-May-18</p></div>
        <div class="week label" id="EX1S"><p>Exam 1</p><p>14-May-18</p></div>
        <div class="week label" id="EX2S"><p>Exam 2</p><p>21-May-18</p></div>
        <div class="week label" id="EX3S"><p>Exam 3</p><p>28-May-18</p></div>
        <div class="week label" id="EX4S"><p>Exam 4</p><p>04-Jun-18</p></div>
        <div class="week label" id="EX5S"><p>Exam 5</p><p>11-Jun-18</p></div>
        <div class="module cmt112"></div>
        <div class="module label cmt112">
            <h2>CMT112</h2>
            <h3>Web Application Development</h3>
        </div>
        <h3 class="cmt112 assessment assessment1 handout">Hand out</h3>
        <p class="cmt112 assessment assessment1 title">Static Website Development</p>
        <h3 class="cmt112 assessment assessment1 handin">Hand in</h3>
        <h3 class="cmt112 assessment assessment1 feedback">Feedback</h3>
        <h3 class="cmt112 assessment assessment2 handout">Hand out</h3>
        <p class="cmt112 assessment assessment2 title">Static Website Development</p>
        <h3 class="cmt112 assessment assessment2 handin">Hand in</h3>
        <h3 class="cmt112 assessment assessment2 feedback">Feedback</h3>
    </div>



        <div class="autumn module" id="cmt112">


        </div>
    </div>
    <footer>
        <small>This may not be accuracte</small>
    </footer>

</body>
</html>
